In [2]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting numpy
  Downloading numpy-1.24.3-cp39-cp39-macosx_10_9_x86_64.whl (19.8 MB)
     |████████████████████████████████| 19.8 MB 720 kB/s eta 0:00:01
Installing collected packages: numpy
Successfully installed numpy-1.24.3
WARNING: You are using pip version 20.2.3; however, version 23.1.2 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Collecting pip
  Downloading pip-23.1.2-py3-none-any.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 4.6 MB/s eta 0:00:01
Installing collected packages: pip
Successfully installed pip-23.1.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas numpy matplotlib seaborn sklearn

Requirement already satisfied: pandas in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (1.23.5)
Requirement already satisfied: matplotlib in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (3.7.0)
Requirement already satisfied: seaborn in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (0.12.2)
Requirement already satisfied: sklearn in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (0.0.post4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: contourpy>=1.0.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: pillow>=6.2.0 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (22.0)
Requirement already satisfied: cycler>=0.10 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
! pip install pandas numpy matplotlib seaborn sklearn

Requirement already satisfied: pandas in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (1.23.5)
Requirement already satisfied: matplotlib in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (3.7.0)
Requirement already satisfied: seaborn in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (0.12.2)
Collecting sklearn
  Using cached sklearn-0.0.post4.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: cycler>=0.10 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: packaging>=20.0 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (22.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: six>=1.5 in /Users/nozomitoujou/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post4-py3-none-any.whl size=2950 sha256=c5c589bff2227a35d2bdcff5a19767ad79d5eafd458fd91d963f07cdc5be12c8
  Stored in directory: /Users/nozomitoujou/Library/Caches/pip/wheels/de/6a/05/7cad3fe50c04cfcba9f13bf25766f6fa85764e4f76f5c4fd98
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post4

In [4]:
import numpy as np
import seaborn as sns

In [23]:
# note: have to click "raw" on github to get this url
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/JinL-Zhang/Schulich_MBAN-6110/main/messy_data.csv")
df

     Age       Income  Gender Product  Quantity
0     56  59544.57663  Female       D         3
1     46  36399.18997  Female     NaN         1
2     32  57140.63881  Female       D         2
3     60  69554.91903    Male       C         5
4     25  53173.80518  Female       D         2
..   ...          ...     ...     ...       ...
100   61  37341.55459    Male       D         5
101   55  35516.63492  Female       A         3
102   31  53254.05089    Male       B         2
103   21          NaN    Male       B         2
104   60  69554.91903    Male       C         5

[105 rows x 5 columns]

In [14]:
# note: data type of object may be string 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       105 non-null    int64
 1   Income    94 non-null     float64
 2   Gender    105 non-null    object
 3   Product   100 non-null    object
 4   Quantity  105 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.2+ KB

In [19]:
# note: describe only show numeric features' metadata
# To show data info about all features (numeric + categorical), use attribute "include = 'all'"
df.describe(include = 'all')

# Ex: Most frequent product is D, with frequency = 28

               Age         Income  Gender Product   Quantity
count   105.000000      94.000000     105     100  105.00000
unique         NaN            NaN       2       4        NaN
top            NaN            NaN  Female       D        NaN
freq           NaN            NaN      58      28        NaN
mean     42.076190   52867.862808     NaN     NaN    3.20000
std      15.940813   29896.579420     NaN     NaN    1.44382
min      18.000000   20901.331720     NaN     NaN    1.00000
25%      31.000000   37814.315255     NaN     NaN    2.00000
50%      41.000000   48760.369705     NaN     NaN    3.00000
75%      55.000000   61644.277868     NaN     NaN    5.00000
max     120.000000  300000.000000     NaN     NaN    5.00000

In [13]:
df.isnull().sum()

Age          0
Income      11
Gender       0
Product      5
Quantity     0
dtype: int64